name: Scan
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run a one-line script
        run: echo Hello, world!
      - name: Checkov GitHub Action
        uses: bridgecrewio/checkov-action@v12.1347.0
      - name: security-devops-action
        uses: microsoft/security-devops-action@v1.6.0
        with:
          categories: 'IaC'
          sarif_file: ${{ steps.msdo.outputs.sarifFile }}
